* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  background-color: #202828;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  background:linear-gradient(#202828, #304c4c);
  height: 40rem;
  width: 60rem;
  font-size: 2rem;
  border-radius: 0 0 10% 10%;
}

h1 {
  font-size: 6rem;
}

p {
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 4rem;
}

button {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: transparent;
  border: transparent;
  margin-top: 4rem;
  text-decoration: underline;
  color:#508787;
}

button:hover {
  opacity: .75;
  cursor: grab;
}